# ============   OPTIONS
-type=pdf417,qr,datamatrix 

# ============   INPUT
-d="SRCDIR=images/encoding/"
-d="OUTDIR={path.tmp}/brcli/"

"{SRCDIR}QR.UTF8.japanese.プライバシーマーク.png"

# ===========    Read language-encoded barcodes
#                USE 'encoding' to get UTF8 text
-encoding=CP1256
"{SRCDIR}DM.CP1256.arabic.بساطة لأنه الأل.tif" 

-encoding=BIG5
"{SRCDIR}PDF417.big5.Chinese.包含一杯准饮料.bmp" 

-encoding=CP1251
"{SRCDIR}PDF417.cp1251.russian.ЙшзщЪфг.bmp" 

# ============== Read UTF8-encoded barcodes in various languages
-encoding=	# Disable encoding
"{SRCDIR}PDF417.UTF8.pdf"

# ============   OUPUT
# Select fields in output files
-fields=text,type,path,encoding 

# Set output files
-output="{OUTDIR}utf8.json" 
-output="{OUTDIR}utf8.csv"

# Set format for TEXT output
-output-text="./template.txt"
-output="{OUTDIR}utf8.txt"
